<div class="col-md-6">
    <h2 class="text-center">Edit Contact</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" formControlName="name" placeholder="Name" class="form-control" id="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" formControlName="phoneNumber" placeholder="Phone Number" class="form-control"
                id="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
            </div>
        </div>
        <button class="btn btn-success">Update</button>
    </form>
</div>